@import "../../App.scss";

.container-veganized {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-green);
  color: var(--white);
  overflow: hidden;
  .content-veganized {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    row-gap: 1.2rem;

    & > * {
      z-index: inherit;
    }
    .p1 {
      font-size: 2.5rem;
      font-weight: 500;
    }
    .list-veganized {
      li {
        font-size: 20px;
        margin-bottom: .5rem;
        span {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    .p2 {
      font-size: 16px;
      margin-bottom: .8rem;
      font-weight: 300;
    }
    .button-veganized {
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      width: 70%;
      max-width: 350px;
      font-size: 1.4rem;
      background-color: var(--dark-green);
      color: var(--white);
      padding: 0.6rem 0.8rem;
      border-radius: 0.5rem;
    }
  }
  .pattern-bl {
    @include patternSpeck(14rem, 14rem, var(--pink));
    bottom: -6rem;
    left: -6rem;
  }
  .pattern-tl {
    @include patternSpeck(14rem, 14rem, var(--pink));
    top: -3.5rem;
    left: -12rem;
  }
  .pattern-tr {
    @include patternSpeck(14rem, 12rem, var(--white));
    top: -5.5rem;
    right: -5.5rem;
    opacity: 0.1;
    transform: rotate(-45deg);
  }
  .pattern-c {
    @include patternSpeck(9rem, 9rem, var(--pink));
    top: 9rem;
    bottom: 0;
    right: -6rem;
    margin: auto;
  }
}
