@import '../../App.scss';

.container-aboutus{
  @include boxMain(var(--pink), var(--yellow));
  color: var(--dark-green);
  text-align: center;
  .title-aboutus{
    font-size: 1.3rem;
    font-weight: 500;
    margin: .8rem 0;
  }
  .text-aboutus{
    font-weight: 500;
    font-size: .9rem;
  }
}