@import "../../App.scss";

.wrapper {
  position: relative;
  background-color: var(--white);
  border-radius: 1rem;
  margin: 0.2rem 0.4rem;
  padding: 0 0.3rem 1rem 0.3rem;
  color: var(--dark-green);
  max-width: 1140px;
  min-height: 91vh;
  @media (min-width: 1140px) {
    margin: 0.2rem auto;
  }
  .container-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    img {
      margin-right: 1rem;
    }
    h3,
    h2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-transform: uppercase;
      font-weight: 400;
    }
    @media (min-width: 930px) {
      h3 {
        display: none;
      }
    }
  }
  .container-desktop {
    h3 {
      display: none;
    }
    .container-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      background-color: var(--pink);
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    .container-indications {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .box-indication {
        width: 30%;
        text-align: center;
        font-weight: 500;
      }
    }
    @media (min-width: 930px) {
      display: flex;
      h3 {
        display: block;
        position: absolute;
        top: 2rem;
        left: 2rem;
        text-transform: uppercase;
        font-weight: 400;
      }
      .container-img {
        flex: 0.8;
        margin-right: 2rem;
        margin-bottom: 0;
      }
      .container-indications {
        flex: 1;
        border: 1px solid var(--dark-green);
        border-radius: 3rem;
      }
    }
  }
  .container-ingredients {
    @include boxMain(var(--pink), transparent);
    box-shadow: 0px 4px 4px rgba(47, 172, 104, 0.5);
    max-width: 700px;
    margin: 1rem auto;
    .title-ingredients {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      img {
        width: 3.5rem;
      }
      h2 {
        font-weight: 400;
        margin-left: 0.3rem;
      }
    }
    .ingredients {
      text-align: center;
      font-weight: 500;
      font-size: 1.3rem;
    }
    @media (min-width: 930px) {
      height: 20vh !important;
      margin-bottom: 2rem;
      justify-content: center;
      .title-ingredients {
        justify-content: center;
      }
    }
  }
  .container-packs {
    @include boxMain(var(--light-blue), transparent);
    width: 75%;
    margin: auto;
    max-width: 450px;

    .box-packs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 0.9rem;
      .pack {
        display: flex;
        align-items: center;
        label {
          margin-right: 0.3rem;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }
  }

  .button-buy {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--light-green);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    padding: 0.2rem 0.5rem;
    width: 13rem;
    text-decoration: none;
    margin: 3rem 0 0 2rem;
    h3 {
      font-size: 2rem;
      font-weight: 400;
      margin-right: 0.5rem;
    }
    &:hover,
    &:focus {
      background-color: var(--dark-green);
    }
    @media (min-width: 930px) {
      margin: 3rem auto 2rem auto;
    }
  }
  .wpp{
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    @media (min-width: 930px) {
      bottom: 6rem;
      right: 5rem;
    }
  }
}
