@import "../../App.scss";

section.contactus {
    @include boxMain(transparent, transparent);
    border: 0;
    padding: 0;
    
    .title-contactus {
        font-size: 24px;
        margin: .8rem 0;
    }
    
    a {
        text-decoration: none;
    }

    .cards-container-contactus {
        display: inherit;
        flex-direction: inherit;

        .card-contactus {
            display: inline-block;
    
            .icon-contactus {
                height: 40px;
                width: 40px;
            }

            .text-contactus {
                color: var(--black);
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                margin: .8rem;
            }
        }
    }

    @media (min-width: 1200px) {
        .cards-container-contactus {
            flex-direction: row;
        }
    }
}