@import "../../App.scss";

section.category-header {
  margin-bottom: .5rem;

  .box-category-header {
    @include boxMain(transparent, transparent);
    border: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    margin: 0 .5rem;

    .title-category-header {
      font-size: 20px;
      text-transform: uppercase;
    }

    .arrow-btn {
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
  }
  
  .img-category-header {
    @include boxMain(var(--pink), transparent);
    margin: 0;
    padding: 0;
    height: 312px;
    width: 100%;
  }

  @media (min-width: 1200px) {
    .box-category-header {
      .title-category-header {
        margin: .8rem 0; 
      }

      .arrow-btn-link {
        display: none
      }
    }

    .img-category-header {
      height: 335px;
      width: 358px;
    }
  }
}
