@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #d33b23;
  --pink: #ff96b7;
  --dark-green: #004739;
  --light-green: #2fac68;
  --blue: #058cce;
  --light-blue: #afd1ed;
  --yellow: #edf770;
}

@mixin boxMain($color, $bg) {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3.5px solid $color;
  border-radius: 1rem;
  background-color: $bg;
}

@mixin patternSpeck($w, $h, $bg) {
  position: absolute;
  background-color: $bg;
  border-radius: 50%;
  width: $w;
  height: $h;
}
@mixin sectionNav($fz, $pad) {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: var(--pink);
  color: var(--white);
  width: 65%;
  margin-bottom: 1.5rem;
  padding: $pad;
  font-size: $fz;
  font-weight: 500;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.body {
  background-color: var(--light-green);
  overflow: hidden;
}

.divider {
  position: relative;
  z-index: 2;
  background-image: url("../../assets/home/divider.png");
  width: 100vw;
  height: 48px;
  margin: 0.5rem 0;
}
