.container-banner{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  padding-bottom: 0.01rem;
  border-bottom: 5px solid var(--dark-green);
  @media (min-width: 1200px){ 
  background-color: var(--pink);
  height: 25vh;
  }
}